.btnAdd{
  border: none;
  background-color: rgba(241,134,177,1);
  padding: 15px;
  border-radius: 50%;
  align-self: flex-end;
  position: fixed;
  bottom: 55px;
  cursor: pointer;

  transform: rotate(0);
  transition: .3s ease;
}
.btnAdd:hover{
  transform: rotate(224deg);
}