h1{
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
  padding: 40px 40px 0px 40px;
  margin: 0;
  color: rgba(235,186,86,0.9);
}
h2{
  font-size: 20px;
  font-weight: 600;
}
h2 span{
  font-weight: 800;
}